body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  height: 100%;
}

.menu {
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu h1 {
  margin-bottom: 20px;
}
.fondo{
  background-image: url('./../images/fondo.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Ajustar la imagen al tama単o de la ventana */
  background-position: center; /* Posicionar la imagen en el centro */
  background-repeat: no-repeat; /* Evitar que se repita la imagen */
  }

  .containerdos {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}



.letras{

color: White;
font-size: 40px;
font-family: 'Copperplate', sans-serif;
-webkit-text-stroke: 2px black;



}

.letras2{

  color: White;
  font-size: 30px;
  font-family: 'Copperplate', sans-serif;
  -webkit-text-stroke: 1px black;
  
  
  
  }

.divdiv{  

  height: 300px;
  width: 70%;

}

.button {
  background-color: #3886A2;
 
  font-size: 14px; /* Ajusta el tama単o de la fuente si es necesario */
  height: 40px;
  width: 30%;

}

.button2 {
  background-color: #3886A2;
  margin-top: 10px;
  font-size: 14px; /* Ajusta el tama単o de la fuente si es necesario */
  height: 40px;
  width: 60%;

}

.button3 {
  background-color: #3886A2;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px; /* Ajusta el tama単o de la fuente si es necesario */
  height: 40px;
  width: 30%;

}

.containertres{

  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

body {
  background-color: #f0f0f0;
}

.login-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}
